{% extends 'Sangeet/basic.htm' %}
{% block title %} Sangeet {% endblock %}
{% block body %}
    {%load static%}
    <div
      id="carouselExampleSlidesOnly"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'Music1.jpg' %}" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="{% static 'music3.jpg' %}" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="{% static 'music4.jpg' %}" class="d-block w-100" alt="..." />
        </div>
      </div>
    </div>

    <hr />

    <h2 style="padding-left: 40%; padding-top: 2%; font-family: verdana">
      Trending Songs
    </h2>
    <div class="row" style="padding-top: 2%; padding-left: 18% ">
      {% for i in song %}
      <div
        class="card"
        style="width: 18rem; padding-left: 1%; padding-right: 1%"
      >
        <img src="/media/{{i.image}}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{i.name}}</h5>
          <p class="card-text">{{i.tags}}</p>
          <a href="/Sangeet/songs/{{i.id}}" class="btn btn-outline-danger">Listen</a>
        </div>
      </div>
      {% endfor %}
    
      <h2 style="padding-left: 30%; padding-top: 2%; font-family: verdana">
        <br>Your liked Songs
      </h2> 

      <div class="card" style="width: 18rem; padding-left: 1%; padding-right: 1%">
        <img src="{% static 'shade.jpg' %}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to bu2ild on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card" style="width: 18rem; padding-left: 1%; padding-right: 1%">
        <img src="{% static 'shade.jpg' %}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem; padding-left: 1%; padding-right: 1%">
        <img src="{% static 'shade.jpg' %}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
     
    </div>
{% endblock %}
