{% extends 'Sangeet/basic.htm' %}
{% block title %} All Songs {% endblock %}

{% block body %}
{% if message %}
<script>
    Swal.fire({
    position: 'top-end',
    icon: 'success',
    title: '{{message}}',
    showConfirmButton: false,
    timer: 1500
  })
</script>
{% endif %}
<div class="container">
    <div class="row">
        <div class="col-md-6" style="padding-top: 3%;">
            <img src="/media/{{song.image}}" alt="" height="250px;" width="350px;" >
        </div>
        <div class="col-md-6">
            <h2 style="padding-top: 5%; font: weight 600px; color:red;">Title: {{song.name}}</h2>
            <h5 style="padding-top: 5%; font: weight 200px;">Category: {{song.tags}}</h5>
            <h5 style="padding-top: 2%; font: weight 200px;">Singer: {{song.singer}}</h5>
            <audio controls style="padding-top: 2%">
                <source src="/media/{{song.song}}" type="audio/mpeg">
            </audio>
            <div  class="row">
                <form style="padding-top: 2;" action="/Sangeet/watchlater"  method="POST">  {% csrf_token %}
                <input style=" padding-top: 2%" type="hidden" name="video_id" value="{{song.id}}">
                <button type="submit" class="btn btn-outline-danger" style="padding-right: 10;">Add to Watch Later</button>
                </form>
                <a style="padding-top: 2;" download  href ="/media/{{song.song}}" ><button class="btn btn-outline-danger">Download Song</button> </a>
        </div>
        </div>
    </div>
</div>

{% endblock %}