{% extends 'Sangeet/basic.htm' %}
{% block title %} All Songs {% endblock %}

{% block body %}
<div class="container">
{% for i in song %}
    
        <div class="row" style="max-width: 1000; padding-top:2%">
            <div class="col-12 mt-3">
                <div class="card">
                    <div class="card-horizontal">
                        <div class="img-square-wrapper">
                            <img class="" src="/media/{{i.image}}"alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title" style="color: green; font-weight:700">{{i.name}}</h5>
                            <p class="card-text" style="font-weight:400">{{i.tags}}</p>
                        </div>
                    </div>
                    {%if user.is_authenticated%}
                    <form action="/Sangeet/history" method="POST">{% csrf_token %}
                        <input type="hidden" name="music_id" value="{{i.id}}">
                    
                    <a href="/Sangeet/songs/{{i.id}}" ><button class="btn btn-outline-danger">Listen</button></a>
                </form>
                {% else %}
                  <a href="/Sangeet/songs/{{i.id}}" ><button class="btn btn-outline-danger">Listen</button></a>
                  {% endif %}
                </div>
            </div>
        </div>
    
{% endfor %}
</div>
{% endblock%}